/qqq
**/*.pyc
/.idea
**.cache
**/__pycache__
**.pytest_cache
.DS_Store
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.mypy_cache
*.db
venv
lib
.local.main.py
.local.settings.toml
.local.settings.py
.local.Dockerfile
dev.py
docker-compose.yaml
.deployment.yaml